@import '~stylesheets/exports';

:host {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

:host ::ng-deep {
  .icon-content,
  .icon-content > svg {
    display: flex;
    width: auto;
    height: 100%;
  }
}

.icon-stroke ::ng-deep .icon-path,
.icon-solid ::ng-deep .icon-path {
  transform-origin: center;
}

.icon-stroke ::ng-deep .icon-path {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.icon-solid ::ng-deep .icon-path {
  fill: currentColor;
  stroke: none;
}
