@import '~stylesheets/exports';

:host {
  @include padding('bottom', 'l');
  display: flex;
  align-items: center;
  width: 100%;
}

.step {
  @include text('m');
  @include text-size('xxl', 'width');
  @include text-size('xxl', 'height');
  @include text-size('xxl', 'line-height');
  @include border('all', currentColor);
  color: color('gray-200');
  text-align: center;
  border-radius: 50%;

  &.complete {
    color: color('aqua');
  }

  &.active {
    color: color('blue');
  }
}

.line {
  flex-grow: 1;
  height: $base-border-width;
  background-color: color('gray-200');

  &:first-child {
    display: none;
  }

  &.complete {
    background: color('aqua');
  }

  &.active {
    background: gradient('2');
  }
}
