@import '~stylesheets/exports';

.container {
  @include spread-children('.row', $vertical: 'xxs');
}

.row {
  @include spread-children('.col', $horizontal: 'xxs');
  display: flex;
}

.slot {
  width: 1em;
  height: 1em;
  border-radius: 0.25em;

  &:not(.active) {
    background-color: color('gray-50');
  }

  &.active {
    background: gradient('2');
  }
}
