<div class="container">
  <div class="row" *ngFor="let xPos of [0, 1]">
    <div class="col" *ngFor="let yPos of [0, 1, 2, 3]">
      <div class="slot" [class.active]="isActive(xPos, yPos)"></div>
    </div>
  </div>
</div>
