<main class="form-container">
  <div class="logo-container"><img alt="logo" src="assets/img/logo.png" /></div>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="margin-b-xs">
      <input aria-label="Email" formControlName="email" type="email" class="form-control" placeholder="e-mail" />
      <p class="error-message" *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required">
          This field is required.
        </span>
        <span *ngIf="email.errors.email">
          Invalid email.
        </span>
      </p>
    </div>
    <div class="margin-b-xs">
      <input aria-label="Password" formControlName="password" type="password" class="form-control" placeholder="password" />
      <p class="error-message" *ngIf="password.invalid && (password.dirty || password.touched)">
        <span *ngIf="password.errors.required">
          This field is required.
        </span>
        <span *ngIf="password.errors.range">
          Must be between 6 and 64.
        </span>
      </p>
    </div>
    <div class="margin-b-m">
      <input aria-label="Confirm password" formControlName="confirmPassword" type="password" class="form-control" placeholder="confirm password" [pattern]="password.value" />
      <p class="error-message" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <span *ngIf="confirmPassword.errors.required">
          This field is required.
        </span>
        <span *ngIf="confirmPassword.errors.pattern">
          Passwords do not match.
        </span>
      </p>
    </div>
    <button aria-label="Register" type="submit" [disabled]="registerForm.invalid" class="btn btn-xl btn-gradient-2 margin-b-xs">Register</button>
    <a class="btn btn-xl btn-gray-white-accent" [routerLink]="['/public/login']">Log in</a>
  </form>
</main>
