@import '~stylesheets/exports';

.container {
  @include spread-children('.calendar-item', $vertical: 's');
  display: flex;
  flex-direction: column;
}

.calendar-item {
  @include spread-children('*', 'm');
  @include padding('vertical', 's');
  display: flex;
  align-items: center;
}

.caption {
  flex-grow: 1;
  min-width: 0;
}

.name {
  @include text('l');
  @include text-oneline();
  @include padding('bottom', 'xxs');
}

.module-name {
  @include text('s');
  @include text-oneline();
  color: color('blue');
}

.calendar-header {
  @include padding('vertical', 's');
  @include text('s');
  position: sticky;
  top: $member-header-height;
  z-index: map-get($z-indexes, 'front');
  color: color('gray-400');
  background: color('white');

  .calendar-days {
    text-align: left;
  }
}

.calendar-days {
  @include text-size('xxxl', 'width');
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;

  &-number {
    @include text('xl');
    @include margin('bottom', 'xxs');
    line-height: 1;
  }

  &-caption {
    @include text('s');
    line-height: 1;
    text-transform: uppercase;
  }
}
