<div class="container">
  <div class="calendar-item" *ngFor="let slot of slots$ | async">
    <app-slot-placement [x]="slot.x" [y]="slot.y"></app-slot-placement>
    <div class="caption">
      <div class="name">{{ slot.plant.name }}</div>
      <div class="module-name">module: {{ slot.moduleName }}</div>
    </div>
    <div>
      <div class="btn padding-a-xs disabled" [ngClass]="getBtnClass(slot)">
        <div class="calendar-days">
          <div class="calendar-days-number">{{ getDaysLeft(slot) }}</div>
          <div class="calendar-days-caption">days</div>
        </div>
      </div>
    </div>
  </div>
</div>
