<div class="content">
  <ng-container *ngIf="userProfile">
    <h2 class="header">User Data</h2>
    <div class="section">
      <div class="field">
        <p class="label">Email</p>
        <p class="value">{{ userProfile.email }}</p>
      </div>
      <div class="field">
        <p class="label">First Name</p>
        <p class="value">{{ userProfile.clientDetailsTO.firstName }}</p>
      </div>
      <div class="field">
        <p class="label">Second Name</p>
        <p class="value">{{ userProfile.clientDetailsTO.lastName }}</p>
      </div>
    </div>
    <h2 class="header">Settings</h2>
    <div class="section">
      <div *ngIf="showingWarning()" class="profile-warning margin-b-m">
        <app-svg-icon class="height-xl margin-r-m" [name]="SvgIconTypes.warningTriangle"></app-svg-icon>
        <p>Complete the time zone data, without this lighting will not work correctly</p>
      </div>
      <div class="field">
        <p class="label">Time Zone:</p>
        <div class="profile-time-zone">
          <ng-select [items]="timeZones" bindLabel="label" [(ngModel)]="selectedTimeZone" [clearable]="false"> </ng-select>

          <ng-container *ngIf="selectedTimeZone.shift !== userProfile.clientDetailsTO.timezoneShift">
            <button class="btn btn-l btn-gray-white-accent margin-r-l" (click)="cancelTimeZoneChange()">Cancel</button>
            <button class="btn btn-l btn-gradient-2" (click)="changeTimeZone()">Save</button>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<button class="btn btn-xl btn-block btn-blue-white-accent" (click)="logOut()">Log out</button>
