@import '~stylesheets/exports';

:host {
  display: flex;
  flex-direction: column;
}

.profile-time-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.profile-warning {
  display: flex;
  color: color('red');
}

.ng-select .ng-select-container {
  min-height: 40px;
}

.ng-select {
  width: 100%;

  &:not(:last-child) {
    @include margin('bottom', 'l');
  }
}

.content {
  @include padding('bottom', 'l');
  flex-grow: 1;
}

.section {
  @include padding('all', 'l');
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05), 0 0 100px -60px rgba(0, 0, 0, 0.3);

  &:not(:last-child) {
    @include margin('bottom', 'l');
  }

  .field {
    &:not(:last-child) {
      @include margin('bottom', 's');
      @include padding('bottom', 's');
      @include border('bottom', color('gray-50'));
    }

    .value {
      @include text('m');
      @include text-oneline();
      color: color('blue-black-accent');
    }

    .label {
      @include text('s');
      @include text-oneline();
      @include padding('bottom', 'xs');
      color: color('blue');
    }
  }
}

.header {
  @include text('l');
  @include text-oneline();
  @include padding('bottom', 'm');
  color: color('blue');
}
