<main class="form-container">
  <div class="logo-container"><img alt="logo" src="assets/img/logo.png" /></div>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="margin-b-xs">
      <input aria-label="Email" formControlName="email" type="email" class="form-control" placeholder="e-mail" />
      <p class="error-message" *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required">
          This field is required.
        </span>
        <span *ngIf="email.errors.email">
          Invalid email.
        </span>
      </p>
    </div>
    <div class="margin-b-xs">
      <input aria-label="Password" formControlName="password" type="password" class="form-control" placeholder="password" />
      <p class="error-message" *ngIf="password.invalid && (password.dirty || password.touched)">
        <span *ngIf="password.errors.required">
          This field is required.
        </span>
      </p>
    </div>
    <a class="link margin-b-m" [routerLink]="['/public/recover']">Forgot your password?</a>
    <button aria-label="Log in" type="submit" [disabled]="loginForm.invalid" class="btn btn-xl btn-gradient-2 margin-b-xs">Log in</button>
    <a class="btn btn-xl btn-gray-white-accent" [routerLink]="['/public/register']">Register</a>
  </form>
</main>
