<app-steps [max]="4" [current]="step"></app-steps>
<div class="content">
  <div class="image" [style.background-image]="getBackground()"></div>
  <div class="caption">{{ caption }}</div>
</div>
<a [routerLink]="next" class="btn btn-xl btn-block btn-gradient-1 margin-t-l">Done!</a>
