@import '~stylesheets/exports';

:host {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
}

.caption {
  @include padding('top', 'm');
  @include text('l');
  @include text-multiline();
  color: color('blue');
  text-align: center;
}

.image {
  @include aspect-preserve(0.5);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
