@import '~stylesheets/exports';

.public-form {
  @include recursive-page-stretch();
  @include padding('all', 'l');
  align-items: center;
  justify-content: center;

  .btn,
  .form-control {
    width: 100%;
  }

  .form-container {
    @include below-width('mobile') {
      @include padding('all', 'xl');
    }

    @include above-width('mobile') {
      @include padding('all', 'xxl');
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05), 0 0 100px -60px rgba(0, 0, 0, 0.3);
  }

  .form {
    align-self: stretch;
  }

  .logo-container {
    @include below-width('mobile') {
      @include margin('bottom', 'xl');
    }

    @include above-width('mobile') {
      @include margin('bottom', 'xxl');
    }

    width: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .error-message {
    @include text('s');
    color: color('red');
  }

  .link {
    @include text('s');
    @include text-oneline();
    display: block;
    color: color('blue');
    text-align: right;
    text-decoration: none;
  }
}
