<div class="margin-neg-t-s">
  <div *ngFor="let device of devices$ | async" class="device-container">
    <div class="device-header">
      <p class="type">Device</p>
      <h2 class="device-name">{{ device.name }}</h2>
    </div>
    <div class="device">
      <div *ngFor="let module of device.modules" class="module-container">
        <div class="module-header">
          <p class="type">Module</p>
          <p class="module-name">
            {{ module.moduleName }}
          </p>
        </div>
        <div class="module-slots-container">
          <div *ngFor="let slot of module.slots">
            <div class="module-slot btn" [ngClass]="slot.plant ? 'btn-blue-white-accent' : 'btn-gray-white-accent'" (click)="openPlantList(slot.plant, device.id, module.id, slot.id)">
              <div *ngIf="slot.plant">
                <app-svg-icon class="slot-icon" [name]="getIcon(slot.plantPlantedTime, slot.plant.growTime)"></app-svg-icon>
                <div class="module-plant-name">{{ slot.plant.name }}</div>
              </div>
              <div *ngIf="!slot.plant">
                <div class="module-plus text-l">+</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
