@import '~stylesheets/exports';

.device-container:not(:last-child) {
  .device {
    @include padding('bottom', 'xl');
  }
}

.device {
  @include padding('top', 's');
}

.device-header {
  @include padding('vertical', 's');
  @include border('bottom', color('gray-50'));
  position: sticky;
  top: $member-header-height;
  z-index: 3;
  background: color('white');

  .device-name {
    @include text('xl');
    @include text-oneline();
    color: color('blue-black-accent');
  }
}

.module-container {
  &:not(:last-child) {
    @include margin('bottom', 's');
    @include padding('bottom', 's');
    @include border('bottom', color('gray-50'));
  }
}

.module-header {
  @include padding('bottom', 's');

  .module-name {
    @include text('l');
    @include text-oneline();
    color: color('blue-black-accent');
  }
}

.type {
  @include text('s');
  @include text-oneline();
  @include padding('bottom', 'xxs');
  color: color('blue');
}

.module-slots-container {
  @include spread-children('*', 'xxs', 'xxs');
  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);
}

.module-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6em;
}

.btn-gray-white-accent,
.btn-blue-white-accent {
  cursor: pointer;
}

.module-plus {
  color: inherit;
}

.slot-icon {
  @include text-size('xl', 'height');
  @include margin($direction: 'bottom', $spacing: 'xxs');
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-plant-name {
  @include padding('horizontal', 'xxs');
  @include text('s');
  @include text-oneline();
  position: absolute;
  right: 0;
  bottom: spacing('s');
  left: 0;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
}
