<ng-container *ngIf="module$ | async as hydroModule">
    <ng-container *ngIf="settings$ | async as settings">
        <div class="text-m color-gray">Exposure hours - {{ humanizeState() }}</div>
        <div class="exposure-hours">
            <div class="time-pickers margin-v-xl">
                <app-time-picker [(time)]="settings.range.from" [showHours]="true" [showMinutes]="true"></app-time-picker>
                <p class="margin-h-s">-</p>
                <app-time-picker [(time)]="settings.range.to" [showHours]="true" [showMinutes]="true"></app-time-picker>
            </div>
        </div>
        <app-module-illumination-preview [(state)]="state"></app-module-illumination-preview>
        <div class="text-m margin-t-m">
            <button class="btn btn-aqua-white-accent btn-m margin-h-auto" (click)="toggleSplitState()">
                <div class="line-center margin-r-s">
                    <app-svg-icon class="height-xl" [name]="SvgIconTypes.scissors"></app-svg-icon>
                </div>
                <span *ngIf="isJoinable()">Join two parts</span>
                <span *ngIf="isSplittable()">Split module</span>
            </button>
            <button class="btn btn-blue-white-accent btn-m margin-h-auto margin-t-s" (click)="saveSettings(hydroModule.systemId, hydroModule.id, settings.range)">
                <div class="line-center margin-r-s">
                    <app-svg-icon class="height-xl" [name]="SvgIconTypes.tick"></app-svg-icon>
                </div>
                <span>Save changes</span>
            </button>
             <button class="btn btn-red-white-accent btn-m margin-h-auto margin-t-s" (click)="deleteModule(hydroModule.systemId, hydroModule.id)">
                <div class="line-center margin-r-s">
                     <app-svg-icon class="height-xl" [name]="SvgIconTypes.trash"></app-svg-icon>
                </div>
                <span>Delete module</span>
            </button>
        </div>
    </ng-container>
</ng-container>
