@import '~stylesheets/exports';

:host {
  display: block;
}

.thumbnail {
  @include aspect-preserve(4/5);
  @include border-radius();
  @include margin($direction: 'vertical', $spacing: spacing('xs'));
  width: calc(100vw / 3);
  overflow: hidden;
}
