@import '../functions/layout';

@mixin margin($direction: 'all', $spacing: spacing('m'), $scalingFactor: 1) {
  $properties: direction($direction);
  @if $spacing == auto {
    @each $property in $properties {
      margin-#{$property}: $spacing;
    }
  } @else {
    @if type-of($value: $spacing) == string {
      $spacing: spacing($spacing);
    }

    @each $property in $properties {
      margin-#{$property}: $spacing * $scalingFactor;
    }
  }
}

@mixin padding($direction: 'all', $spacing: spacing('m'), $scalingFactor: 1) {
  $properties: direction($direction);
  @if type-of($value: $spacing) == string {
    $spacing: spacing($spacing);
  }

  @each $property in $properties {
    padding-#{$property}: $spacing * $scalingFactor;
  }
}

@mixin border(
  $direction: 'all',
  $color: color('black'),
  $border-width: $base-border-width
) {
  $properties: direction($direction);

  @each $property in $properties {
    border-#{$property}: solid $border-width $color;
  }
}

@mixin border-radius($radius: $base-border-radius) {
  border-radius: $radius;
}

@mixin below-width($breakpoint) {
  @media screen and (max-width: breakpoint($breakpoint)) {
    @content;
  }
}

@mixin between-widths($from, $to) {
  @media screen and (min-width: breakpoint($from) + 1) and (max-width: breakpoint($to)) {
    @content;
  }
}

@mixin above-width($breakpoint) {
  @media screen and (min-width: breakpoint($breakpoint) + 1) {
    @content;
  }
}

@mixin spread-children($selector, $horizontal: null, $vertical: null) {
  @if ($horizontal) {
    @include margin('horizontal', $horizontal, -0.5);

    > #{$selector} {
      @include padding('horizontal', $horizontal, 0.5);
    }
  }

  @if ($vertical) {
    @include margin('vertical', $vertical, -0.5);

    > #{$selector} {
      @include padding('vertical', $vertical, 0.5);
    }
  }
}

@mixin aspect-preserve($ratio) {
  position: relative;
  overflow: hidden;

  &:before {
    display: block;
    padding-top: $ratio * 100%;
    content: '';
  }

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  > .image {
    background-position: center;
    background-size: cover;
  }
}

@mixin recursive-page-stretch() {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
