@import '../functions/utilities';
@import '../variables';
@import 'layout';

@mixin text($name) {
  $config: map-strict-get($text-variants, $name);
  line-height: 1.5;

  @each $property, $value in $config {
    @if $property == 'responsive' {
      @each $breakpoint, $rConfig in $value {
        @include above-width($breakpoint) {
          @each $rProperty, $rValue in $rConfig {
            #{$rProperty}: $rValue;
          }
        }
      }
    } @else {
      #{$property}: $value;
    }
  }
}

@mixin text-multiline() {
  margin-top: -0.25em;
  margin-bottom: -0.25em;
}

@mixin text-oneline() {
  overflow: hidden;
  line-height: 1.2 !important; /* stylelint-disable-line declaration-no-important */
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-size($name, $property, $offset: 0) {
  $config: map-strict-get($text-variants, $name);

  @each $prop, $value in $config {
    @if $prop == 'responsive' {
      @each $breakpoint, $rConfig in $value {
        @include above-width($breakpoint) {
          #{$property}: map-get($rConfig, 'font-size') + $offset;
        }
      }
    }
  }

  #{$property}: map-get($config, 'font-size') + $offset;
}

@mixin line-center($capital-letter: 0.714em, $small-letter: 0.517em) {
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-1 * ($capital-letter - $small-letter) / 2);
}
