@import '~stylesheets/exports';

@mixin toast-type($color) {
  .type-icon {
    color: contrast-color($color);
    background-color: color($color);
  }

  &:before {
    background-color: color($color);
  }

  .progress .bar {
    background-color: color($color);
  }
}

:host {
  @include padding('vertical');
  @include padding('right');
  @include border-radius();
  position: relative;
  display: flex;
  align-items: center;
  padding-left: $base-spacing + 4px;
  background: color('white');
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 0 40px -20px rgba(0, 0, 0, 0.5);

  &:not(:last-child) {
    @include margin('bottom', 's');
  }

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    content: '';
    border-radius: $base-border-radius 0 0 $base-border-radius;
  }

  &.toast-success {
    @include toast-type('light-green');
  }

  &.toast-info {
    @include toast-type('blue');
  }

  &.toast-error {
    @include toast-type('red');
  }

  &.toast-warning {
    @include toast-type('yellow');
  }
}

.close-button {
  align-self: flex-start;
  padding: 0;
  background: none;
  border: 0;

  .close-icon {
    @include text-size('s', height);
    @include margin('left');
    display: block;
    color: color('gray-200');
    cursor: pointer;
  }
}

.type-icon {
  @include text-size('xxl', height);
  @include text-size('xxs', padding);
  @include margin('right');
  border-radius: 50%;
}

.progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 4px;
  height: 2px;
  overflow: hidden;
  opacity: 1;

  .bar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.title {
  @include text('m');
  font-weight: 500;
}

.message {
  @include text('s');
}
