<app-svg-icon class="type-icon" [name]="getIconName()"></app-svg-icon>

<div>
  <div *ngIf="title" class="title" [attr.aria-label]="title">
    {{ title }} <ng-container *ngIf="duplicatesCount">[{{ duplicatesCount + 1 }}]</ng-container>
  </div>
  <div *ngIf="message" class="message" role="alertdialog" aria-live="polite" [attr.aria-label]="message">
    {{ message }}
  </div>
</div>

<div class="progress">
  <div class="bar" [style.transform]="getProgressTransform()"></div>
</div>

<button *ngIf="options.closeButton" class="close-button" (click)="remove()" aria-label="Close">
  <app-svg-icon class="close-icon" [name]="SvgIconTypes.close"></app-svg-icon>
</button>
