<div class="container">
  <div class="notification" *ngFor="let notification of notifications$ | async" [class.read]="notification.read">
    <div class="icon">
      <div class="btn padding-a-m disabled" [ngClass]="getBtnClass(notification.notificationType)">
        <app-svg-icon class="height-xxl" [name]="getIcon(notification.notificationType2)"></app-svg-icon>
      </div>
    </div>
    <div class="caption">
      <p class="date">{{ getDate(notification) }}</p>
      <p class="content">{{ notification.longNote }}</p>
    </div>
    <div *ngIf="!notification.read" class="action">
      <button (click)="markAsRead(notification.id)" class="btn padding-a-xs btn-light-green">
        <app-svg-icon class="height-l" [name]="SvgIconTypes.tick"></app-svg-icon>
      </button>
    </div>
  </div>
</div>
