@import '~stylesheets/exports';

.container {
  @include spread-children('.notification', $vertical: 'm');
  display: flex;
  flex-direction: column;
}

.notification {
  @include spread-children('*', 'm');
  display: flex;
}

.read {
  .icon {
    opacity: 0.3;
  }

  .date {
    color: color('gray-200');
  }

  .content {
    color: color('gray-400');
  }
}

.caption {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.date {
  @include text('s');
  color: color('blue');
}

.content {
  @include text('s');
  color: color('blue-black-accent');
}

.action {
  @include padding('vertical', 's');
  align-self: flex-start;
}
