@import '~stylesheets/exports';

$transition-duration: 0.2s;
$focus-effect-spacing: 2px;
$hover-effect-spacing: 1px;

:host {
  @include transition(transform, linear, $duration: $transition-duration);
  @include border-radius();
  position: relative;
  display: block;
  font: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;

  &:before,
  &:after {
    @include transition(opacity, linear, $duration: $transition-duration);
    @include border-radius();
    position: absolute;
    display: block;
    content: '';
    opacity: 0;
  }

  &:after {
    top: -$hover-effect-spacing;
    right: -$hover-effect-spacing;
    bottom: -$hover-effect-spacing;
    left: -$hover-effect-spacing;
  }

  &,
  &:focus,
  &:active {
    outline: none;
  }

  &:before {
    @include box-shadow-focus(color('blue'));
  }

  &:not(.btn-border) {
    border: 0;

    &:before {
      top: -$focus-effect-spacing;
      right: -$focus-effect-spacing;
      bottom: -$focus-effect-spacing;
      left: -$focus-effect-spacing;
    }
  }

  &.btn-border {
    @include border('all', transparent);

    &:before {
      top: -($focus-effect-spacing + $base-border-width);
      right: -($focus-effect-spacing + $base-border-width);
      bottom: -($focus-effect-spacing + $base-border-width);
      left: -($focus-effect-spacing + $base-border-width);
    }
  }

  &.btn-block {
    width: 100%;
  }

  &.circle {
    &,
    &:before,
    &:after {
      border-radius: 50%;
    }
  }

  @each $name, $multiplier in $spacing-multipliers {
    &.btn-#{$name} {
      @include padding('horizontal', ($multiplier * $base-spacing));
      @include padding('vertical', ($multiplier * 0.5 * $base-spacing));
    }

    &.btn-border.btn-#{$name} {
      @include padding(
        'horizontal',
        ($multiplier * $base-spacing) - $base-border-width
      );
      @include padding(
        'vertical',
        ($multiplier * 0.5 * $base-spacing) - $base-border-width
      );
    }
  }

  @each $name in map-keys($base-colors) {
    &:not(.btn-border).btn-#{$name} {
      color: contrast-color(color($name));
      background: color($name);

      &:after {
        @include box-shadow-hover(color($name));
      }
    }
  }

  @each $name in map-keys($base-colors) {
    &.btn-border.btn-#{$name} {
      color: color($name);
      border-color: color($name);

      &:after {
        @include box-shadow-hover(color($name));
        background: rgba(color($name), 0.3);
      }
    }
  }

  @each $name in map-keys($base-color-accents) {
    &.btn-#{$name} {
      color: contrast-color(color($name));
      background: color($name);

      &:after {
        @include box-shadow-hover(contrast-color(color($name)));
      }
    }
  }

  @each $key, $gradient in $gradients {
    $gradient-colors: map-values(map-get($gradient, 'colors'));
    $avg: color(nth($gradient-colors, 1));

    @for $i from 2 through length($gradient-colors) {
      $avg: mix($avg, color(nth($gradient-colors, $i)), 50%);
    }

    &.btn-gradient-#{$key} {
      color: contrast-color($avg);
      background: gradient($key);

      &:after {
        @include box-shadow-hover($avg);
      }
    }
  }
}

:host:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

:host:not(.disabled):not(:disabled) {
  &:hover {
    transform: translateY(-2px);

    &:after {
      opacity: 1;
    }
  }

  &:focus:before {
    opacity: 0.7;
  }
}
