@import '~stylesheets/exports';

:host {
  @include padding('horizontal', 'm');
  @include padding('vertical', 's');
  @include border-radius($base-border-radius);
  color: color('blue');
  background-color: rgba(color('blue'), 0.1);
  border: 0;

  &::placeholder {
    color: rgba(color('blue'), 0.5);
  }
}
