@import '~stylesheets/exports';

:host {
  text-align: center;
}

:host,
.form,
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  align-items: center;
  justify-content: center;
}

.header {
  @include text('m');
  @include padding('bottom', 'l');
  @include text-size('l', 'line-height');
  color: color('blue-black-accent');
}

.caption {
  @include text('l');
  @include margin('bottom', 'xl');
  color: color('blue');
}
