<app-steps [max]="4" [current]="3"></app-steps>
<form class="form" [formGroup]="connectDeviceForm">
  <div class="header">Connecting with {{ name }}</div>
  <div class="content">
    <div class="caption">
      Now please enter <br />
      your network password
    </div>
    <input formControlName="password" type="password" class="form-control margin-b-m" placeholder="password" />
  </div>
  <button type="button" (click)="onSubmit()" class="btn btn-xl btn-block btn-gradient-2">Connect</button>
</form>
