<main class="form-container">
  <div class="logo-container"><img alt="logo" src="assets/img/logo.png" /></div>
  <form class="form" [formGroup]="recoverForm" (ngSubmit)="onSubmit(recoverForm)">
    <div class="margin-b-m">
      <input aria-label="Email" formControlName="email" type="email" class="form-control" placeholder="e-mail" />
      <p class="error-message" *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required">
          This field is required.
        </span>
        <span *ngIf="email.errors.email">
          Invalid email.
        </span>
      </p>
    </div>
    <button aria-label="Register" type="submit" [disabled]="recoverForm.invalid" class="btn btn-xl btn-gradient-2 margin-b-xs">Send e-mail</button>
    <a class="btn btn-xl btn-gray-white-accent" [routerLink]="['/public/login']">Log in</a>
  </form>
</main>
