<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 600">
  <clipPath id="mask">
    <polygon points="1400,0 100,0 0,100 0,600 1500,600 1500,100" />
  </clipPath>
  <g class="stroke">
    <polygon points="1400,0 100,0 0,100 0,600 1500,600 1500,100" />
    <path d="M 0,100 L 1500,100" />
    <g class="background">
      <path d="M 100,0 L 100,500 L 0,600" />
      <path d="M 1400,0 L 1400,500 L 1500,600" />
      <path d="M 100,500 L 1400,500" />
    </g>
  </g>
  <g class="fill" clip-path="url(#mask)">
    <polygon class="light-preview-trigger" points="0,0 0,600 750,600 750,0" />
    <polygon class="light-preview-trigger" points="1500,0 1500,600 750,600 750,0" />
    <polygon [attr.class]="getClass()" points="0,0 0,600 1500,600 1500,0" />
  </g>
</svg>
