@import '~stylesheets/exports';

.light-canvas-container {
  margin: 1px;
}

.light-preview-trigger {
  opacity: 0.1;
}

svg {
  display: block;
  overflow: visible;
}

path,
polygon {
  vector-effect: non-scaling-stroke;
}

.fill {
  fill: currentColor;
  stroke: none;
}

.stroke {
  fill: none;
  stroke: currentColor;
  stroke-width: 2px;
}

.background {
  opacity: 0.3;
}

$config: (
  'left': scaleX(0.5) translate(-750px),
  'center': scale(1) translate(0)
);

.light-canvas {
  @include transition(transform);
  opacity: 0.3;
  transform-origin: center;
}

@each $name, $transform in $config {
  .light-canvas.#{$name} {
    transform: $transform;
  }
}
