<div *ngIf="slot$ | async as slot" class="plant-details">
  <div class="margin-b-xxl">
    <div class="details-thumbnail">
      <div class="details-image" [appImgSrc]="slot.plant.mediumImageUrl"></div>
    </div>
    <h1>{{slot.plant.name | titlecase}}</h1>
  </div>
  <div class="details-grow-diff margin-b-l"><span>Difficulty level: </span><span>{{slot.plant.growDifficulty}}</span></div>
  <div class="details-grow-time"><span>Growing time: </span><span>{{slot.plant.growTime}} days</span></div>
  <button class="btn btn-xl btn-red-white-accent margin-t-m margin-a-xxs" (click)="clearPlant(slot.moduleId, slot.id)">Collect plant</button>
</div>
