<ng-container *ngIf="showHours">
  <div class="time-unit-container">
    <app-svg-icon class="height-s margin-b-xs" [name]="SvgIconTypes.arrowUp" (click)="incrementHours()"></app-svg-icon>
    <span class="time-unit">{{ humanizeTimeUnit(time.hours) }}</span>
    <app-svg-icon class="height-s margin-t-xs" [name]="SvgIconTypes.arrowDown" (click)="decrementHours()"></app-svg-icon>
  </div>
  <span class="separator">:</span>
</ng-container>

<ng-container *ngIf="showMinutes">
  <div class="time-unit-container">
    <app-svg-icon class="height-s margin-b-xs" [name]="SvgIconTypes.arrowUp" (click)="incrementMinutes()"></app-svg-icon>
    <span class="time-unit">{{ humanizeTimeUnit(time.minutes) }}</span>
    <app-svg-icon class="height-s margin-t-xs" [name]="SvgIconTypes.arrowDown" (click)="decrementMinutes()"></app-svg-icon>
  </div>
  <span class="separator">:</span>
</ng-container>

<ng-container *ngIf="showSeconds">
  <div class="time-unit-container">
    <app-svg-icon class="height-s margin-b-xs" [name]="SvgIconTypes.arrowUp" (click)="incrementSeconds()"></app-svg-icon>
    <span class="time-unit">{{ humanizeTimeUnit(time.seconds) }}</span>
    <app-svg-icon class="height-s margin-t-xs" [name]="SvgIconTypes.arrowDown" (click)="decrementSeconds()"></app-svg-icon>
  </div>
  <span class="separator">:</span>
</ng-container>
