@import '~stylesheets/exports';

:host {
  display: flex;
  align-items: center;
}

.time-unit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-unit {
  @include padding('vertical', 'xxs');
  @include padding('horizontal', 's');
  @include border($color: color('gray-50'));
  @include border-radius();
}

.separator {
  @include padding('all', 'xxs');

  &:last-child {
    display: none;
  }
}
