$white-accent: 30%;
$black-accent: 30%;

$shade: 10%;
$tint: 10%;

$colors: ();

$base-colors: (
  'light-green': rgb(201, 242, 118),
  'aqua': rgb(133, 255, 213),
  'blue': rgb(47, 169, 222),
  'red': rgb(234, 31, 91),
  'pink': rgb(227, 45, 154),
  'yellow': rgb(255, 206, 0),
  'gray': hsl(0, 0%, 84%)
);

$colors: map-merge($colors, $base-colors);

$grays: (
  'white': hsl(0, 0%, 100%),
  'gray-50': hsl(0, 0%, 95%),
  'gray-200': hsl(0, 0%, 80%),
  'gray-400': hsl(0, 0%, 60%),
  'gray-600': hsl(0, 0%, 40%),
  'gray-800': hsl(0, 0%, 20%),
  'black': hsl(0, 0%, 0%)
);

$colors: map-merge($colors, $grays);

$base-color-accents: ();

@each $name, $value in $base-colors {
  $base-color-accents: map-merge(
    $map1: $base-color-accents,
    $map2: (
      '#{$name}-white-accent': mix($value, white, $white-accent),
      '#{$name}-black-accent': mix($value, black, $black-accent)
    )
  );
}

$colors: map-merge($colors, $base-color-accents);

$gradients: (
  '1': (
    'angle': 135deg,
    'colors': (
      -25%: 'blue',
      125%: 'aqua'
    )
  ),
  '2': (
    'angle': 315deg,
    'colors': (
      -25%: 'blue',
      125%: 'aqua'
    )
  )
);
