$directions: (
  'top': (
    'top'
  ),
  'right': (
    'right'
  ),
  'bottom': (
    'bottom'
  ),
  'left': (
    'left'
  ),
  'vertical': (
    'top',
    'bottom'
  ),
  'horizontal': (
    'right',
    'left'
  ),
  'all': (
    'top',
    'right',
    'bottom',
    'left'
  )
);

$base-spacing: 16px;

$spacing-multipliers: (
  'xxs': 0.25,
  'xs': 0.5,
  's': 0.75,
  'm': 1,
  'l': 1.5,
  'xl': 2,
  'xxl': 3
);

$spacings: ();

@each $name, $value in $spacing-multipliers {
  $spacings: map-merge(
    $map1: $spacings,
    $map2: (
      '#{$name}': $value*$base-spacing
    )
  );
}

$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1024px
);

$z-indexes: (
  'front': 10,
  'popup': 20,
  'fixed': 30,
  'tooltip': 40,
  'modal': 50
);

$base-border-radius: 4px;
$base-border-width: 1px;
