$capital-letter-height: 0.714em;

$text-variants: (
  'xxxl': (
    font-weight: 300,
    font-size: 40px,
    responsive: (
      'desktop': (
        font-size: 64px
      )
    )
  ),
  'xxl': (
    font-weight: 300,
    font-size: 32px,
    responsive: (
      'desktop': (
        font-size: 48px
      )
    )
  ),
  'xl': (
    font-weight: 300,
    font-size: 24px,
    responsive: (
      'desktop': (
        font-size: 32px
      )
    )
  ),
  'l': (
    font-weight: 300,
    font-size: 20px,
    responsive: (
      'desktop': (
        font-size: 24px
      )
    )
  ),
  'm': (
    font-weight: 300,
    font-size: 16px,
    responsive: (
      'desktop': (
        font-size: 20px
      )
    )
  ),
  's': (
    font-weight: 300,
    font-size: 12px,
    responsive: (
      'desktop': (
        font-size: 16px
      )
    )
  ),
  'xs': (
    font-weight: 300,
    font-size: 10px,
    responsive: (
      'desktop': (
        font-size: 12px
      )
    )
  ),
  'xxs': (
    font-weight: 300,
    font-size: 8px,
    responsive: (
      'desktop': (
        font-size: 10px
      )
    )
  )
);
