<div *ngIf="plant$ | async as plant" class="plant-details">
  <div class="margin-b-m">
    <div class="details-thumbnail">
      <div class="details-image" [appImgSrc]="plant.mediumImageUrl"></div>
    </div>
    <h1 class="text-xxl">{{plant.name | titlecase}}</h1>
  </div>
  <div class="details-grow-diff margin-b-l"><span>Difficulty level: </span><span>{{plant.growDifficulty}}</span></div>
  <div class="details-grow-time"><span>Growing time: </span><span>{{plant.growTime}} days</span></div>
  <button class="btn btn-xl btn-gradient-2 margin-t-l" (click)="addToSlot(plant)">Start growing</button>
</div>
