@import '~stylesheets/exports';

.plant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details-grow-time,
.details-grow-diff {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.details-thumbnail {
  @include margin('all', 'm');
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;

  .details-image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
