<div class="developer-page-content">
  <div class="margin-a-m">
    <div class="text-xxl margin-b-m">Buttons</div>
    <div class="margin-b-xxl">
      <div class="text-xl margin-b-m">Color variants</div>
      <div class="margin-b-m">
        <div class="text-l">Base colors</div>
        <div class="line-center margin-a-xxs" *ngFor="let color of baseColors; let i = index;">
          <button class="btn btn-m" [ngClass]="'btn-' + color">{{ i }}</button>
        </div>
      </div>
      <div class="margin-b-m">
        <div class="text-l">Accent colors</div>
        <div class="line-center margin-a-xxs" *ngFor="let color of baseColorAccents; let i = index;">
          <button class="btn btn-m" [ngClass]="'btn-' + color">{{ i }}</button>
        </div>
      </div>
      <div class="margin-b-m">
        <div class="text-l">Gradients</div>
        <div class="line-center margin-a-xxs" *ngFor="let color of gradients; let i = index;">
          <button class="btn btn-m" [ngClass]="'btn-gradient-' + color">{{ i }}</button>
        </div>
      </div>
      <div class="margin-b-m">
        <div class="text-l">Borders</div>
        <div class="line-center margin-a-xxs" *ngFor="let color of baseColors; let i = index;">
          <button class="btn btn-border btn-m" [ngClass]="'btn-' + color">{{ i }}</button>
        </div>
      </div>
    </div>
    <div class="margin-b-xxl">
      <div class="text-xl margin-b-m">Size variants</div>
      <div class="margin-b-m">
        <div class="text-l">Rectangular sizes</div>
        <div class="line-center margin-a-xxs" *ngFor="let value of spacingMultipliers;">
          <button class="btn btn-gradient-1" [ngClass]="'btn-' + value"><div style="height: 1em; width: 1em;"></div></button>
        </div>
      </div>
      <div class="margin-b-m">
        <div class="text-l">Square sizes</div>
        <div class="line-center margin-a-xxs" *ngFor="let value of spacingMultipliers;">
          <button class="btn btn-gradient-1" [ngClass]="'padding-a-' + value"><div style="height: 1em; width: 1em;"></div></button>
        </div>
      </div>
    </div>
    <div class="margin-b-xxl">
      <div class="text-xl margin-b-m">Custom buttons</div>
      <div class="margin-b-m">
        <div class="text-l">Circle</div>
        <div class="line-center margin-a-xxs" *ngFor="let value of spacingMultipliers;">
          <button class="btn btn-gradient-1 circle" [ngClass]="'padding-a-' + value"><div style="height: 1em; width: 1em;"></div></button>
        </div>
      </div>
      <div class="margin-b-m">
        <div class="text-l">Full width</div>
        <div class="margin-a-xxs">
          <button class="btn btn-m btn-block btn-gradient-1">Action</button>
        </div>
      </div>
    </div>
  </div>

  <div class="margin-a-m">
    <div class="text-xxl margin-b-m">Typography</div>
    <div class="margin-b-xxl">
      <div class="text-xl margin-b-m">Size variants</div>
      <div *ngFor="let variant of textVariants;">
        <div [ngClass]="'text-' + variant">Text {{ variant }}</div>
      </div>
    </div>
  </div>

  <div class="margin-a-m">
    <div class="text-xxl margin-b-m">Layout</div>
    <div class="margin-b-xxl">
      <div class="text-xl margin-b-m">Padding variants</div>
      <div *ngFor="let variant of spacingMultipliers;" class="margin-a-m" [ngClass]="'padding-a-' + variant" style="background: #C3DEB8">
        <div style="background: white">{{ variant }}</div>
      </div>
    </div>
    <div class="margin-b-xxl">
      <div class="text-xl margin-b-m">Margin variants</div>
      <div class="margin-a-xs" *ngFor="let variant of spacingMultipliers;" style="background: #F9CD9E; display: table; width: calc(100% - 1em);">
        <div [ngClass]="'margin-a-' + variant" style="background: white">{{ variant }}</div>
      </div>
    </div>
  </div>
</div>
