@import '../variables/colors';
@import '../functions/utilities';

@function color($name) {
  @return map-strict-get($colors, $name);
}

@function contrast-color($color) {
  @if type-of($color) == string {
    $color: color($color);
  }
  @if lightness($color) > (100% - $white-accent) {
    @return adjust-color($color, $lightness: -$white-accent);
  }
  @if lightness($color) < ($black-accent) {
    @return adjust-color($color, $lightness: $black-accent);
  }
  @if lightness($color) > 70% {
    @return adjust-color($color, $lightness: -$black-accent);
  }
  @return adjust-color($color, $lightness: $white-accent);
}

@function gradient($name, $inverse: false, $scale: 1) {
  $gradient: map-strict-get($gradients, $name);
  $angle: map-get($gradient, 'angle');
  @if $inverse == true {
    $angle: $angle + 180deg;
  }
  $result: '';
  @each $stop, $color in map-get($gradient, 'colors') {
    @if $result != '' {
      $result: #{$result}#{','};
    }
    $result: #{$result color($color) (($stop - 50%) * $scale) + 50%};
  }
  @return linear-gradient($angle, $result);
}
