@import '../variables/layout';
@import '../functions/utilities';

@function spacing($name) {
  @return map-strict-get($spacings, $name);
}

@function direction($name) {
  @return map-strict-get($directions, $name);
}

@function breakpoint($name) {
  @return map-strict-get($breakpoints, $name);
}

@function z-index($name) {
  @return map-strict-get($z-indexes, $name);
}
