<div class="plant-list-categories-wrapper">
  <div class="plant-list-categories">
    <p class="plant-list-category" [ngClass]="{ selected: isSelected(category) }" *ngFor="let category of categories" (click)="selectCategory(category)">{{ parseCategory(category) }}</p>
  </div>
</div>
<div class="plant-list">
  <div class="plant-list-item" *ngFor="let plant of plants$ | async">
    <div class="clickable" (click)="showDetails(plant.id)">
      <div class="thumbnail">
        <div class="image" [appImgSrc]="plant.mediumImageUrl"></div>
      </div>
      <div class="caption">{{ plant.name | titlecase }}</div>
    </div>
  </div>
</div>
