@import '~stylesheets/exports';

router-outlet + :host {
  margin-top: 0;
}

.row {
  @include spread-children('*', 'l');
  display: flex;
}

.plant-list-categories-wrapper {
  @include padding('vertical', 'l');
  @include spread-children('*', 'xxl');
  position: sticky;
  top: $member-header-height;
  z-index: 9;
  overflow: -moz-scrollbars-none;
  overflow-x: auto;
  -ms-overflow-style: none;
  background: color('white');

  &::-webkit-scrollbar {
    display: none;
  }
}

.plant-list-categories {
  display: table;
  line-height: 1;
  white-space: nowrap;
}

.plant-list-category {
  display: inline;
  font-weight: 300;
  color: color('gray-200');
  white-space: nowrap;
  cursor: pointer;

  &.selected {
    font-weight: 600;
    color: color('blue');
  }

  &:not(:last-child) {
    @include margin('right', 'l');
  }
}

.plant-list {
  @include spread-children('.plant-list-item', 'l');
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

$aone: 3/4; // aspect 1
$atwo: 5/3; // aspect 2
$ps: spacing('l'); // parent spacing

.plant-list-item {
  @include below-width('mobile') {
    $pw: 1/2 * 100%; // parent width
    width: $pw;

    &:nth-child(4n-1) {
      margin-top: calc(-#{($atwo - $aone) * $pw} + #{($atwo - $aone) * $ps});
    }

    &:nth-child(4n-3),
    &:nth-child(4n) {
      .thumbnail {
        @include aspect-preserve(3/4);
      }
    }

    &:nth-child(4n-1),
    &:nth-child(4n-2) {
      .thumbnail {
        @include aspect-preserve(5/3);
      }
    }
  }

  @include between-widths('mobile', 'tablet') {
    $pw: 1/3 * 100%; // parent width
    width: $pw;

    &:nth-child(6n),
    &:nth-child(6n - 2) {
      margin-top: calc(-#{($atwo - $aone) * $pw} + #{($atwo - $aone) * $ps});
    }

    &:nth-child(6n-1),
    &:nth-child(6n-3),
    &:nth-child(6n-5) {
      .thumbnail {
        @include aspect-preserve(3/4);
      }
    }

    &:nth-child(6n),
    &:nth-child(6n-2),
    &:nth-child(6n-4) {
      .thumbnail {
        @include aspect-preserve(5/3);
      }
    }
  }

  @include above-width('tablet') {
    $pw: 1/4 * 100%; // parent width
    width: $pw;

    &:nth-child(8n - 1),
    &:nth-child(8n - 3) {
      margin-top: calc(-#{($atwo - $aone) * $pw} + #{($atwo - $aone) * $ps});
    }

    &:nth-child(8n),
    &:nth-child(8n-2),
    &:nth-child(8n-5),
    &:nth-child(8n-7) {
      .thumbnail {
        @include aspect-preserve(3/4);
      }
    }

    &:nth-child(8n-1),
    &:nth-child(8n-3),
    &:nth-child(8n-4),
    &:nth-child(8n-6) {
      .thumbnail {
        @include aspect-preserve(5/3);
      }
    }
  }
}

.caption {
  @include text('m');
  @include padding('top', 'xxs');
  @include padding('bottom', 'xs');
  font-weight: 300;
  color: color('blue-black-accent');
  text-transform: uppercase;
}

.thumbnail {
  @include border-radius();
}

.clickable {
  cursor: pointer;
}
