<div class="content margin-neg-t-s" *ngIf="devices$ | async; let devices">
  <div class="empty-text" *ngIf="devices.length === 0">
    It looks empty here
  </div>
  <div *ngFor="let device of devices" class="device-container">
    <div class="device-header">
      <div>
        <p class="type">Device</p>
        <h2 class="device-name">{{ device.name }}</h2>
      </div>
      <div class="flex">
        <div class="flex" *ngIf="systemsMeasure$ | async; let systemsMeasure">
          <div *ngIf="getTemperature(device.id, systemsMeasure)" class="margin-r-s flex">
            <app-svg-icon class="line-center height-xl blue-icon" [name]="SvgIconTypes.temperature"></app-svg-icon>
            <p>{{getTemperature(device.id, systemsMeasure)}} &#176;C </p>
          </div>
          <div *ngIf="getHumidity(device.id, systemsMeasure)" class="flex">
            <app-svg-icon class="line-center height-xl blue-icon" [name]="SvgIconTypes.water"></app-svg-icon>
            <p>{{getHumidity(device.id, systemsMeasure)}}%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="device">
      <div>
        <div *ngFor="let module of device.modules" class="module-container">
          <div>
            <p class="type">Module</p>
            <p class="module-name">
              {{ module.moduleName }}
            </p>
          </div>
          <div class="buttons">
            <div class="margin-r-m" *ngIf="modulesMeasure$ | async; let modulesMeasure">
              <ng-container *ngIf="getWaterLevel(module.id, modulesMeasure)">
                <p class="type">Water level</p>
                <p>{{getWaterLevel(module.id, modulesMeasure)}}</p>
              </ng-container>
            </div>
            <button class="btn btn-yellow-white-accent padding-a-xs margin-r-s" (click)="toggleLight(module.id)">
              <app-svg-icon class="line-center height-xl" [name]="SvgIconTypes.lightBulb"></app-svg-icon>
            </button>
            <button aria-label="Edit" class="btn btn-blue-white-accent padding-a-xs" (click)="edit(module.id)">
              <app-svg-icon class="line-center height-xl" [name]="SvgIconTypes.pencil"></app-svg-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="add-module-control">
        <button *ngIf="!addModuleMode" (click)="toggleMode()" class="btn btn-l btn-block btn-gray-white-accent">New module</button>

        <ng-container *ngIf="addModuleMode">
          <form class="form margin-r-s" [formGroup]="moduleForm">
            <input formControlName="name" placeholder="Module name *" class="form-control" />
          </form>

          <button aria-label="Confirm" [disabled]="!moduleForm.valid" class="btn btn-light-green-white-accent padding-a-xs margin-r-s" (click)="addModule(device.id)">
            <app-svg-icon class="line-center height-xl" [name]="SvgIconTypes.tick"></app-svg-icon>
          </button>

          <button aria-label="Cancel" class="btn btn-red-white-accent padding-a-xs" (click)="toggleMode()">
            <app-svg-icon class="line-center height-xl" [name]="SvgIconTypes.close"></app-svg-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-xl btn-block btn-gradient-1" [routerLink]="['/member/connection']">Connect</a>
