@import '~stylesheets/exports';

:host {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.device-container:not(:last-child) {
  .device {
    @include padding('bottom', 'xl');
  }
}

.device {
  @include padding('top', 's');
}

.blue-icon {
  color: color('blue');
}

.device-header {
  @include padding('vertical', 's');
  @include border('bottom', color('gray-50'));
  position: sticky;
  top: $member-header-height;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: color('white');

  .device-name {
    @include text('xl');
    @include text-oneline();
    color: color('blue-black-accent');
  }
}

.module-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &:not(:last-child) {
    @include margin('bottom', 's');
    @include padding('bottom', 's');
    @include border('bottom', color('gray-50'));
  }
}

.module-name {
  @include text('l');
  @include text-oneline();
  color: color('blue-black-accent');
}

.type {
  @include text('s');
  @include text-oneline();
  @include padding('bottom', 'xxs');
  color: color('blue');
}

.content {
  @include padding('bottom', 'l');
  flex-grow: 1;
}

.empty-text {
  @include text('m');
  @include padding('all', 'xl');
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
}

.add-module-control {
  @include margin('top', 's');
  @include padding('top', 's');
  @include border('top', color('gray-50'));

  display: flex;
  align-items: center;

  form {
    flex-grow: 1;
  }

  .form-control {
    width: 100%;
    min-width: 0;
  }
}
