@import '~stylesheets/exports';

:host {
  @include recursive-page-stretch();
}

.toast-anchor {
  position: relative;
  z-index: map-get($map: $z-indexes, $key: 'modal');
  width: 100%;
  height: 0;
}

:host ::ng-deep .toast-container {
  @include padding('all', 'l');
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;

  .ngx-toastr {
    pointer-events: auto;
  }
}
