@import '~stylesheets/exports';

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  @include recursive-page-stretch();
}

@each $direction in map-keys($directions) {
  .margin-#{str-slice($direction,1,1)}-auto {
    @include margin($direction, auto);
  }

  @each $spacing in map-keys($spacings) {
    .margin-#{str-slice($direction,1,1)}-#{$spacing} {
      @include margin($direction, $spacing);
    }

    .margin-neg-#{str-slice($direction,1,1)}-#{$spacing} {
      @include margin($direction, $spacing, -1);
    }

    .padding-#{str-slice($direction,1,1)}-#{$spacing} {
      @include padding($direction, $spacing);
    }
  }
}

@each $i in (1, 2, 3, 4, 5) {
  @each $j in (1, 2, 3, 4, 5) {
    .aspect-preserve-#{$i}-#{$j} {
      @include aspect-preserve($i / $j);
    }
  }
}

.recursive-page-stretch {
  @include recursive-page-stretch();
}
