@import '~stylesheets/exports';

@each $key in map-keys($text-variants) {
  .text-#{$key} {
    @include text($key);
  }

  .height-#{$key} {
    @include text-size($key, 'height');
  }

  .width-#{$key} {
    @include text-size($key, 'width');
  }
}

.line-center {
  @include line-center();
}

.error-message {
  color: color('red');
}

.text-multiline {
  @include text-multiline();
}

.text-oneline {
  @include text-oneline();
}
