@import '~stylesheets/exports';

:host {
  @include padding('vertical', 'l');
  @include padding('horizontal', 'l');
  @include border('bottom', color('gray-50'));
  position: sticky;
  top: 0;
  z-index: map-get($z-indexes, 'fixed');
  margin-bottom: -1 * $base-border-width;
  background: color('white');
}

h1 {
  @include text('xl');
  line-height: 1;
  color: color('blue-black-accent');
}

.separator {
  @include margin('horizontal', 's');
  width: 6px;
  height: 6px;
  background: color('gray-200');
  border-radius: 50%;

  &:last-child {
    display: none;
  }
}

.arrow {
  @include margin('right', 'l');
  color: color('gray-200');
  user-select: none;
}
