<h1 *ngIf="segments$ | async; let segments">
  <ng-container *ngIf="showReturn">
    <app-svg-icon class="height-xl arrow" [name]="SvgIconTypes.arrowBack" (click)="back()"></app-svg-icon>
  </ng-container>
  <ng-container *ngFor="let segment of segments">{{ segment }}<span class="line-center separator"></span></ng-container>
</h1>
