@import '~stylesheets/exports';

:host {
  @include recursive-page-stretch();
  justify-content: space-between;
}

:host::ng-deep > router-outlet ~ :not(.navigation) {
  @include padding('horizontal', 'l');
  @include margin('top', 'l');
  flex-grow: 1;
}

.toast-anchor {
  position: relative;
  z-index: map-get($map: $z-indexes, $key: 'modal');
  width: 100%;
  height: 0;
}

:host ::ng-deep .toast-container {
  @include padding('all', 'l');
  position: fixed;
  top: $member-header-height;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
  pointer-events: none;

  .ngx-toastr {
    pointer-events: auto;
  }
}
