<a aria-label="plants" class="navigation-link" [routerLink]="['/member/plants']" [routerLinkActive]="['active']">
  <app-svg-icon class="navigation-icon" [name]="SvgIconTypes.plant"></app-svg-icon>
  <span class="navigation-link-title">Plants</span>
</a>

<a aria-label="device" class="navigation-link" [routerLink]="['/member/device']" [routerLinkActive]="['active']">
  <app-svg-icon class="navigation-icon" [name]="SvgIconTypes.device"></app-svg-icon>
  <span class="navigation-link-title">Device</span>
</a>

<a aria-label="notifications" [routerLink]="getNotificationsLink()">
  <app-lottie-icon class="loading-icon" #loadingIcon [name]="LottieIconTypes.loading"></app-lottie-icon>
</a>

<a aria-label="profile" class="navigation-link" [routerLink]="['/member/profile']" [routerLinkActive]="['active']">
  <app-svg-icon class="navigation-icon" [name]="SvgIconTypes.profile"></app-svg-icon>
  <span class="navigation-link-title">Profile</span>
</a>

<a aria-label="calendar" class="navigation-link" [routerLink]="['/member/calendar']" [routerLinkActive]="['active']">
  <app-svg-icon class="navigation-icon" [name]="SvgIconTypes.calendar"></app-svg-icon>
  <span class="navigation-link-title">Calendar</span>
</a>
