@import '~stylesheets/exports';

:host {
  @include padding('top', 'l');
  @include padding('bottom', 'm');
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map-get($map: $z-indexes, $key: 'front') - 1;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  pointer-events: none;

  &:before,
  &:after {
    @include margin('top', 'l');
  }

  > * {
    pointer-events: auto;
  }
}

:host,
.loading-icon {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
  }

  &:before {
    z-index: -2;
    box-shadow: 0 spacing('xxs') spacing('xs') rgba(color('black'), 0.3);
  }

  &:after {
    z-index: -1;
    background: color('white');
  }
}

.loading-icon {
  @include margin('horizontal', 's', -1);
  @include padding('all', 'xxs');
  @include margin('top', 'm', -1);
  @include margin('bottom', 'xs');
  position: relative;
  height: 4.5 * $base-spacing;
  border-radius: 50%;

  &:before,
  &:after {
    border-radius: 50%;
  }
}

.navigation-icon {
  @include text-size('xl', 'height');
  @include margin('bottom', 'xxs');
}

.navigation-icon,
.navigation-link-title {
  @include transition(transform);
}

.navigation-link {
  @include transition(color);
  @include padding('all', 's');
  @include text('xs');
  position: relative;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: spacing('s');
  color: color('blue');
  text-decoration: none;
  text-transform: uppercase;

  &:before {
    @include transition(opacity);
    position: absolute;
    bottom: 6px;
    left: 50%;
    width: 4px;
    height: 4px;
    content: '';
    background: currentColor;
    border-radius: 50%;
    opacity: 0;
    transform: translateX(-50%);
  }

  &.active {
    pointer-events: none;

    &:before {
      opacity: 1;
    }

    .navigation-icon,
    .navigation-link-title {
      transform: translateY(-4px);
    }
  }

  &:hover {
    color: mix(color('blue'), color('white'), 50%);
  }
}
