@import '~stylesheets/exports';

:host {
  text-align: center;
}

:host,
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  justify-content: center;
}

.header {
  @include text('m');
  @include text-size('l', 'line-height');
  @include padding('bottom', 'l');
  @include transition(opacity);
  color: color('blue-black-accent');

  &:not(.visible) {
    opacity: 0;
  }
}

.caption {
  @include text('l');
  @include padding('bottom', 'l');
  color: color('blue');
}

.network-container {
  @include padding('vertical', 'xxs');
  @include margin('horizontal', 'xs', -1);

  &:not(:last-child) {
    @include border('bottom', color('gray-50'));
  }
}

.network {
  @include padding('vertical', 's');
  @include padding('horizontal', 'xs');
  @include text('l');
  @include border-radius();
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: color('blue-black-accent');
  cursor: pointer;

  &.selected {
    color: color('white');
    background-color: color('blue');
  }

  &:not(.selected) .status-icon {
    color: color('blue');
  }
}

.status-icon {
  @include margin('left', 'm');
  @include text-size('xl', 'height');
}

.loading-icon {
  @include text-size('l', 'height');
  @include margin('left', 'xxs');

  ::ng-deep svg path {
    stroke: currentColor;
    stroke-width: 50px;
  }
}
