<app-steps [max]="4" [current]="2"></app-steps>
<div class="header" [class.visible]="scanning$ | async">
  Scanning
  <app-lottie-icon class="loading-icon" [animations]="loadingAnimations" [name]="LottieIconTypes.loading"></app-lottie-icon>
</div>
<div class="content">
  <ng-container *ngIf="networks$ | async; let networks">
    <div class="caption" *ngIf="!!networks.length">
      Please select your home network
    </div>

    <div>
      <div class="network-container" *ngFor="let network of networks; trackBy: trackBySsid">
        <div class="network" [class.selected]="isSelected(network)" (click)="select(network)">
          <span>{{ network.ssid }}</span>
          <app-signal-icon class="status-icon" [bars]="4" [value]="network.quality"></app-signal-icon>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<button #button class="btn btn-xl btn-block btn-gradient-1 margin-t-xs" [disabled]="!network" (click)="connect()">Connect</button>
